* {
	box-sizing: border-box;
}

.logo-container {
	margin-top: 20px;
}

.logo-img {
	display: inline-block;
}

.logo-img img {
	max-width: 64px;
}

.title-logo {
	display: inline-block;
	margin: 0 0 0 15px;
}

.top-indent {
	margin-top: 50px;
}


.main-nav {
	background-color: #eee;
	padding: 10px;
	border-radius: 5px 0 0 0;
}

.heading {
	background-color: #eee;
	overflow: hidden;
	padding-bottom: 20px;
	position: relative;
}

.heading-form {
	background-color: #fff;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.right-btn {
	float: right;
}

.left-arrow {
	position: absolute;
    left: 0;
    top: 0;
    background: url('../img/arrow.png') center left no-repeat;
    width: 64px;
    height: 100%;
    cursor: pointer;
    margin-left: 20px;
}

.right-arrow {
	position: absolute;
    right: 0;
    top: 0;
    background: url('../img/arrow.png') center left no-repeat;
    width: 64px;
    height: 100%;
    transform: rotate(180deg);
    cursor: pointer;
     margin-right: 20px;
}

.article-img {
	display: block;
	margin: 0 auto;
	max-width: 250px; 
}

.article footer {
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}

.article footer a {
	text-decoration: underline; 
}

.article footer a:hover {
	text-decoration: none; 
}

.main-article {
	padding-left: 25px;
	padding-right: 25px;
	font-weight: bold;
}

.pagination-position {
	margin: 0 auto;
	max-width: 232px;
	display: block;
}

.main-footer {
	background-color: #eee;
	overflow: hidden;
	
}

.footer-line {
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #ffffff;
	width: 2px;
	min-height: 300px;
	padding: 0;
	float: right;
}

.footer-form {
	float: right;
	margin-top: 30px;
}

.ta-style {
	border-radius: 5px;
    padding: 15px;
    float: right;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
}

.footer-indent {
	padding-bottom: 20px;
}

.footer-form-link {
	float: left;
	font-weight: bold;
	margin: 0;
	padding-top: 15px;
}

.send-info {
    width: 400px;
}

/* SLIDER */


#slider {
    max-height: 400px;
    overflow: hidden;
    border: 1px solid #272727;
}

#slider .slides {
    display: block;
    width: 6000px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    max-width: 720px;

}


/*Media Queries*/

@media only screen and (max-width: 992px) {
    .footer-line {
    	display: none;
    }

    .heading h1{
    	font-size: 25px; 
    }

    .left-arrow {
    	margin-left: 2px;
    }

    .right-arrow {
    	margin-right: 2px;
    }
}

@media only screen and (max-width: 768px) {
   	
	.main-nav li{
		width: 100%;
	} 

    .footer-form {
    	float: left;
    }

    .left-arrow {
    	display: none;
    }

    .right-arrow {
    	display: none;
    }
}